html, body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: "Lato", Calibri, sans-serif;
  font-size: 16px;
  background-color: #3A3042; }
  html h1, body h1 {
    margin-top: 10px; }
  html h2, body h2 {
    font-size: 1.3em; }
  html h3, body h3 {
    font-size: 1.1em; }
  html a, body a {
    text-decoration: none;
    color: #333333;
    font-weight: 700; }
    html a:hover, body a:hover {
      text-decoration: underline; }
  html hr, body hr {
    border: 0;
    height: 1px;
    background-color: #333;
    background-image: linear-gradient(to right, #333333, #ccc); }
  html .clearfix, body .clearfix {
    clear: both; }

div.column {
  position: relative;
  height: 100%;
  min-height: 100%;
  width: 45%;
  margin: 10px;
}

.game-container {
  position: relative;
  display: flex;
  width: 100vw;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: max-content;
}

@media screen and (max-width: 1000px) {
  div.column {
    width: 95vw !important;
    overflow: hidden;
    height: auto; }
  .game-container {
    width: 95vw;
  }
}

div.info, div.stats, div.account, div.rules {
  width: 70%;
  margin: 5vmin auto 0;
  box-sizing: border-box;
  padding: 20px 30px;
  background-color: #F1F1FF;
  color: #3A3042;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #232621; }

div.rules{
  margin-top: 50px;
}

div.account{
  margin-top: 50px;
}

#near-game-player-1, #near-game-player-2 {
  overflow-wrap: break-word;
}

div.stats {
  margin: 50px auto 0 auto !important; }
  div.stats .wrapper {
    display: flex; }
  div.stats #player1 {
    text-align: center;
    display: inline-block;
    width: 50%;
    float: left;
    background-color: #B93848;
    box-sizing: border-box;
    padding: 0 15px 20px;
    border-top-left-radius: 3px;
    color: #232621; }
    div.stats #player1 .capturedPiece {
      width: 2.4vmin;
      height: 2.4vmin;
      background-color: #232621;
      background-size: 65%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 6vmin;
      display: inline-block;
      box-sizing: border-box;
      transition: all 0.2s linear;
      margin: 5px; }
  div.stats #player2 {
    text-align: center;
    display: inline-block;
    width: 50%;
    float: left;
    background-color: #232621;
    box-sizing: border-box;
    padding: 0 15px 20px;
    border-top-right-radius: 3px;
    color: #B93848; }
    div.stats #player2 .capturedPiece {
      width: 2.4vmin;
      height: 2.4vmin;
      background-color: #B93848;
      background-size: 65%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 6vmin;
      display: inline-block;
      box-sizing: border-box;
      transition: all 0.2s linear;
      margin: 5px; }
  div.stats div.turn {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #BEEE62 50%, transparent 50%);
    border-radius: 0 0 3px 3px; }
  div.stats span#winner {
    display: block;
    padding: 10px 0 0;
    text-align: center; }
  div.stats button#cleargame {
    display: block;
    border: 0;
    color: #F1F1FF;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto 10px;
    padding: 10px;
    background-color: #16A8C7;
    box-shadow: 1px 1px 3px #232621;
    transition: background-color 0.15s linear; }
    div.stats button#cleargame:hover {
      background-color: #0c5a6b; }

input[type=button] {
  display: block;
  border: 0;
  color: #F1F1FF;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
  background-color: #074998;
  box-shadow: 1px 1px 3px #232621;
  transition: background-color 0.15s linear; }
input[type=button]:hover {
  background-color: #0c5a6b; }

input[type=button].centered {
  margin: 20px auto 10px
}

div#board {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #232621;
  background-color: #B93848;
}
div#board .tiles {
  width: 100%;
  height: 100%;
}
  div#board .tile {
    width: 12.5%;
    aspect-ratio: 1;
    position: absolute;
    background-color: #232621; }
div#board .player1pieces .piece {
  position: absolute;
  width: 10%;
  aspect-ratio: 1;
  background-color: #e4a6ae;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  display: inline-block;
  box-sizing: border-box;
  transition: all 0.2s linear;
  margin: 1.3%;
  cursor: pointer;
  border: 1.3% solid #B93848; }
    div#board .player1pieces .piece.selected {
      box-shadow: 0 0 10px 5px #16A8C7; }

    div#board .player1pieces.inverted .piece {
      background-color: #F1F1FF !important;
      border: 1vmin solid #8b8bff !important;
    }

  div#board .player2pieces .piece {
    position: absolute;
    width: 10%;
    aspect-ratio: 1;
    background-color: #F1F1FF;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.2s linear;
    margin: 1.3%;
    cursor: pointer;
    border: 1vmin solid #8b8bff; }
    div#board .player2pieces .piece.selected {
      box-shadow: 0 0 10px 5px #16A8C7; }

    div#board .player2pieces.inverted .piece {
      background-color: #e4a6ae !important;
      border: 1vmin solid #B93848 !important;
    }

.invitation-input-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

.invitation-input-line input {
  width: 80%;
  max-width: 280px;
}

.invitation-input-line svg {
  cursor: pointer;
  margin: 5px;
}
